{{ if .Site.Data.homepage.contact.enable }}
<section id="contact" class="section section--contact pt-0">
    <div class="container">
        <div class="contact">
            <h2>{{ T "contactTitle" }}</h2>
            <div class="row pt-2">
                <div class="col-12 col-lg-7">
                    <form action="{{ .Site.Data.homepage.contact.form.action }}" method="{{ .Site.Data.homepage.contact.form.method }}">
                        <input type="hidden" id="captchaResponse" name="g-recaptcha-response">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <input type="text" name="name" id="full_name"
                                       placeholder='{{ T "contactFullName" }}'/>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" name="email" id="email"
                                       placeholder='{{ T "contactEmailPlaceholder" }}'/>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <textarea name="message" id="message"
                                          cols="30" rows="3" placeholder='{{ T "contactBody" }}'></textarea>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">
                                    <i class="{{ .Site.Data.homepage.contact.button.icon }}"></i>
                                    {{ T "contactSend" }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-5 contact__info">
                    <h4>{{ T "contactPhone" }}</h4>
                    <span>{{ .Site.Data.homepage.contact.phone.number | safeHTML }}</span>
                    <h4>{{ T "contactEmail" }}</h4>
                    <span>{{ .Site.Data.homepage.contact.email.email | safeHTML }}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
   grecaptcha.ready(function() {
       grecaptcha.execute('6Ldn8awcAAAAADCXTNJLXuYrayw4HFy6MAsagSXa', {action: 'homepage'})
       .then(function(token) {
         document.getElementById('captchaResponse').value = token;
       });
     });
</script>
{{ end }}
