{{ if .Site.Data.homepage.experience.enable }}
<section id="experience" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row flex-md-row rad-fade-down">
            <div class="col-12 col-sm-6">
                <h2>{{ T "experienceTitle" }}</h2>
                <p class="lead">
                    {{ T "experienceDescription1" }}
               </p>
               <p class="lead">
                    {{ T "experienceDescription2" }}
               </p>
               <p class="lead">
                    {{ T "experienceDescription3" }}
               </p>
            </div>
            <div class="col-12 col-sm-6 mt-5 mt-sm-0 pl-sm-5 ">
                <div class="experience">
                    <div class="experience__title">{{ T "experienceBullet1" }}</div>
                    <div class="experience__company">{{ T "experienceBulletSub1" }}</div>
                </div>
                <div class="experience">
                    <div class="experience__title">{{ T "experienceBullet2" }}</div>
                    <div class="experience__company">{{ T "experienceBulletSub2" }}</div>
                </div>
                <div class="experience">
                    <div class="experience__title">{{ T "experienceBullet3" }}</div>
                    <div class="experience__company">{{ T "experienceBulletSub3" }}</div>
                </div>
                <div class="experience">
                    <div class="experience__title">{{ T "experienceBullet4" }}</div>
                    <div class="experience__company">{{ T "experienceBulletSub4" }}</div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
